<mat-vertical-stepper #stepper>
  <form [formGroup]="form">
    <mat-step>
      <ng-template matStepLabel>Contraseña actual</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" maxlength="40" matInput placeholder="Ingrese su contraseña"
          formControlName="currentPassword" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Nueva contraseña</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Nueva contraseña</mat-label>
        <input type="password" maxlength="40" matInput formControlName="newPassword"
          placeholder="Ingrese su nueva contraseña" required>
      </mat-form-field>
      <!-- <p *ngIf="form.get('NewPassword').dirty && form.get('NewPassword').hasError('required')">Campo minimo de 13
        caracteres</p> -->
      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmar contraseña</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Confirmar contraseña</mat-label>
        <input type="password" maxlength="40" matInput formControlName="confirmNewPassword"
          placeholder="Ingrese su nueva contraseña" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button [disabled]="form.invalid" (click)="confirmChangePassword()">Guardar</button>
        <p>Debe digilenciar todos los campos.</p>
      </div>
    </mat-step>
  </form>
</mat-vertical-stepper>