<section>
    <div class="Registro-form">
        <h4 class="title-register">Registrate</h4>
        <form class="form-register" action="" method="post">
            <input type="text" placeholder="Nombre" />
            <input type="text" placeholder="Correo" />
            <input type="password" placeholder="Constraseña" />
            <button class="btn-register" type="submit">Registrarme</button>
        </form>
        <div class="iniciar">
            <a href="/">Inicia sesión</a>
        </div>
    </div>
</section>