<section>
    <div class="Registro-form">
        <h4 class="title-register">Registrate</h4>
        <form [formGroup]="form" class="form-register" action="" method="post">
            <p *ngIf="message">{{message}}</p>
            <input type="text" formControlName="email" placeholder="Correo" />
            <input type="password" formControlName="password" placeholder="Constraseña" />
            <button mat-button color="primary" (click)="login()" [disabled]="form.invalid" class="btn-register"
                type="submit">Iniciar
                sesión</button>
        </form>
    </div>
</section>