<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{user?.person?.name}}</span>
    <span class="example-spacer"></span>
    <a mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon" routerLink="/home/profile"
        routerLinkActive="active" *ngIf="user">
        <mat-icon>home</mat-icon>
    </a>
    <a mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()"
        *ngIf="user">
        <mat-icon>exit_to_app</mat-icon>
    </a>
</mat-toolbar>