<form [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nueva contraseña</mat-label>
        <input type="password" maxlength="40" matInput formControlName="newPassword">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirmar contraseña</mat-label>
        <input type="password" maxlength="40" matInput formControlName="confirmNewPassword">
    </mat-form-field>
</form>
<button mat-button color="primary" class="btn-register" type="submit" [disabled]="form.invalid"
    (click)="changePassword()">Confirmar cambio</button>